@use '../abstracts/' as *;

html {
    // `font-size` for REM use
    font-size: 62.5%;
}

body {
    font-family: $font-family-default;
    font-size: $font-size-default;
    color: $text-default;
    background-color: $body-bg;
}

b,
strong {
    font-family: $font-family-bold;
}

img {
    // Don't allow <IMG> to be larger then its container
    max-width: 100%;

    // Omit space caused by default style, between images lines
    vertical-align: middle;

    // Address hardcoded height in Wordpress image embedding
    height: auto;
}

a {
    color: $link-default;
    text-decoration: none;

    &:focus,
    &:hover {
        color: $link-hover;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: $font-size-2xl;
}

h2 {
    font-size: $font-size-lg;
}

h3,
h4,
h5,
h6 {
    font-size: $font-size-sm;
}

ul,
ol {
    @include reset-box;
}

p {
    padding-bottom: 2rem;
}

article {
    padding-bottom: 5rem;
}

input[type='text'],
input[type='search'] {
    font-size: inherit;
    line-height: inherit;
    height: 38px;
    padding: 6px 10px;
    background-color: $text-default;
    border: 1px solid #{$border-default};
    border-radius: 4px;
}

::selection {
    background-color: $selection-bg;
    color: $body-bg;
    text-shadow: none;
}
