@font-face {
    font-family: ACaslonPro;
    src: url('../../fonts/ACaslonPro-Regular.woff2') format('woff2'),
         url('../../fonts/ACaslonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ACaslonPro-Bold;
    src: url('../../fonts/ACaslonPro-Bold.woff2') format('woff2'),
         url('../../fonts/ACaslonPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}