@use "../abstracts" as *;

// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clear {
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}

.reset-box {
    @include reset-box;
}
