@use '../abstracts' as *;

.release-detail {
    a {
        color: $link-default;

        &:hover {
            color: $link-hover;
        }
    }

    h1 {
        font-size: $font-size-2xl;
    }

    h2 {
        font-size: $font-size-sm;

        .release-number {
            text-transform: uppercase;
        }
        
        .release-date {
            color: $text-alternate;
            font-family: $font-family-italic;
            font-size: $font-size-xs;
        }
    }

    p {
        padding: 0;
        color: $text-alternate;
        font-size: $font-size-sm;
    }
}

.release-cover {
    img {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }
}

.release-status {
    color: $text-alternate;

    h3 {
        color: $text-default;
    }

    a {
        display: block;
    }
}

.release-player {
    width: 100%;
}

.release-player h3,
.release-status h3 {
    font-family: $font-family-italic;
    font-size: $font-size-base;
}

.release-single {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "detail"
        "cover"
        "preview"
        "description";

        .release-detail {
            grid-area: detail;
        }

        .release-cover {
            grid-area: cover;
        }

        .release-description {
            grid-area: description;
        }

        .release-preview {
            grid-area: preview;
            display: grid;
            grid-gap: 3rem;
            grid-template-areas:
                "status"
                "player";

                .release-player {
                    grid-area: player;
                }

                .release-status {
                    grid-area: status;
                }
        }

        .release-status {
            grid-area: status;
        }

        @media (width >= #{$breakpoint-medium}) {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: min-content;
            
            .release-cover {
                grid-column: 1;
                grid-row: 1 / 3;
            }

            .release-detail {
                grid-column: 2;
                grid-row: 1;
            }

            .release-description {
                grid-column: 2;
                grid-row: 2 / -1; // Start at row 2, span to end (will grow with content)
            }

            .release-preview {
                grid-column: 1;
                grid-row: 3; // Start at row 3
                grid-template-columns: 3fr 2fr;
                grid-gap: 2rem;
                grid-template-areas:
                    "player status";
            }
        }
}