@use '../abstracts' as *;

.footer {
    font-size: $font-size-base;
    text-align: center;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.overlay {
    position: absolute;
    background-color: $body-bg;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.96;
    z-index: 2;
    display: none;
}

@media (width >= #{$breakpoint-small}) {
    .footer {
        padding-top: 5rem;
    }
}

@media (width >= #{$breakpoint-medium}) {
    .overlay {
        visibility: hidden;
    }
}
