@use '../abstracts' as *;

.hamburger {
    display: block;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 5px;
}

.nav {
    visibility: hidden;
    position: absolute;
    top: -230px;
    background-color: transparent;
    opacity: 0;
    z-index: 3;

    @include transform(translateY(-200px));
    @include transition(all 0.5s ease);

    &.mobileNav-active {
        -webkit-transform: translateY(300px);
        transform: translateY(300px);
        opacity: 1;
        visibility: visible;
    }

    ul {
        padding-bottom: 2em;

        a {
            color: $text-default;

            &:hover {
                color: $link-default;
            }
        }

        li {
            font-size: $font-size-base;
            text-transform: uppercase;
            list-style-type: none;
            margin-bottom: 1rem;
        }

        li.current-menu-item a {
            text-decoration: underline;
        }

        body.single-release & li:first-child
            a {
            text-decoration: underline;
        }

        li:last-child a {
            // color: $link-default;
            border: 1px solid $text-default;
            padding: 0.5rem;
        }
    }

    .eks-mobile-link {
        padding-bottom: 1em;

        li {
            font-size: $font-size-base;
            text-transform: uppercase;
            list-style-type: none;
        }

        a {
            color: $text-default;
            border: none!important;
            text-decoration: none!important;

            &:hover {
                color: $link-default;
            }
        }
    }
}

@media (width >= #{$breakpoint-medium}) {
    .hamburger {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        visibility: visible;
        position: relative;
        margin-top: 3rem;
        top: auto;
        opacity: 1;

        @include transform(translateY(0));

        &.mobileNav-active {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        ul {
            li {
                display: inline-block;
                margin: 0 2rem 0 0;

                &:not(:last-child, :nth-last-child(2))::after {
                    content: '/';
                    margin-left: 2rem;
                }
            }
        }

        .eks-mobile-link {
            display: none;
        }
    }
}
